<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand h2" href="#">kitya</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="d-flex justify-content-between">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Portfolio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Commission</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item px-2 text-light">
                    <span class="d-inline-block pb-2">Social media: </span>
                    {% for media in settings.social_medias %}
                    <a class="align-middle" href="{{ media.link }}" target="_blank">
                        <img class="rounded mx-auto" src="{{ media.icon }}" height="32px">
                    </a>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
</nav>
