{% macro render_file_upload(field) %}
    <div class="form-group row mb-2">
        <div class="col-sm-12">
            {{ field.label(class="btn btn-sm btn-info btn-block") }}
            {% if field.errors %}
                {% for error in field.errors %}
                <div class="invalid-feedback" style="display: block;">
                    {{ error }}
                </div>
                {% endfor %}
            {% endif %}
            <p class="h6">Send images up to 2 MB</p>
        </div>
        {{ field(**kwargs)|safe }}
    </div>
{% endmacro %}
