{% extends "base.html" %}

{% block content %}
<div class="container bg-dark text-light">
    <div class="row pb-3 pt-2">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {# title - row 1 #}
        <div class="col-sm-12 mb-3">
            <div class="d-flex justify-content-between">
                <div>
                    <a class="btn btn-light" href="{{ url_for('main.index') }}">&lt; Back to main</a>
                </div>
                
                <div class="h3 pl-3">
                    Welcome to kitya's admin page, {{ current_user.username }}!
                </div>
            </div>
        </div>
        
        {# main - row 2 #}
        {# settings #}
        <div class="col-sm-8">
            <div class="h5">Albums</div>
            <div class>
                <ul class="list-group" id="albums">
                    {% for album in settings.albums %}
                    <li class="list-group-item px-3" data-albumid="{{ album.album_id }}">
                        <div class="d-flex justify-content-between" id="show-block-{{ album.album_id }}">
                            <a href="{{ album.permalink }}" target="_blank" class="btn btn-link p-0 pl-1">{{ album.link_or_album_id }}</a>
                            <div class="btn-group">
                                <button class="btn btn-warning py-0" name="btn-edit-album">Edit</button>
                                <button class="btn btn-danger py-0" name="btn-delete-album">Delete</button>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between" style="display: none !important;" id="edit-block-{{ album.album_id }}">
                            <div class="w-50">
                                <input type="text" name="link_or_album_id" class="form-control px-1 py-0" 
                                    placeholder="URL or album ID" style="height: auto;" value="{{ album.link_or_album_id }}">
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-secondary py-0" name="btn-discard-album">Discard</button>
                                <button class="btn btn-success py-0" name="btn-save-album">Save</button>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                    <li class="list-group-item px-3">
                        <div class="d-flex justify-content-between">
                            <div class="w-50">
                                <input type="text" name="link_or_album_id" class="form-control px-1 py-0" 
                                    placeholder="URL or album ID" style="height: auto;">
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-success py-0" name="btn-add-album">Add</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="h5 pt-3">Columns</div>
            <div class="d-flex justify-content-between px-3">
                {% for i in (1, 2, 3, 4, 6, 12) %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="columns" id="columns{{ i }}" value="{{ i }}"
                    {% if i == settings.cols %}checked{% endif %}>
                    <label class="form-check-label py-1" for="columns{{ i }}">
                        {{ i }}
                    </label>
                </div>
                {% endfor %}
                <div class="form-check"><button class="btn btn-success py-0" name="btn-save-album">Save</button></div>
            </div>

        </div>

        {# info #}
        <div class="col-sm-4">
            <div class="h5">Last seen</div>
            <ul class="list-group">
                {% for admin in settings.admins|sort(reverse=True, attribute="last_login") %}
                <li class="list-group-item 
                {% if not admin.is_owner %}list-group-item-light text-dark{% endif %}
                {% if admin.is_owner %}list-group-item-primary{% endif %}
                {% if admin.disabled %}disabled{% endif %}
                ">
                    <div class="d-flex justify-content-between">
                        <p>{{ admin.username }}</p>
                        <p>{{ moment(admin.last_login).fromNow() }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        {# spinner - row 3 #}
        <div class="col-sm-12 px-3">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" id="spinner" role="status" style="opacity: 0;">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>

        {# footer - row 4 (maybe) #}
    </div>
</div>
{% endblock %}
