{% extends "base.html" %}
{% block content %}
<body class="text-center" style="
        background-size: cover;
        background-repeat: no-repeat;
        {% if content.background_image %}
        background-image: url({{ content.background_image }})
        {% endif %}">
    <div class="cover-container d-flex w-100 h-100 py-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            {% include "include/nav.html" %}
        </header>
        <main class="inner cover">
            <p class="lead">
                {{ content.body }}
            </p>
            <p class="lead">
                {% from "macro/render_field.html" import render_field %}
                {% from "macro/render_file_upload.html" import render_file_upload %}
                <form method="POST" action="{{ url_for('commissions.commissions') }}" class="form" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    {{ render_field(form.contact, class="form-control", placeholder="Your email") }}
                    {{ render_field(form.subject, class="form-control", placeholder="Summary") }}
                    {{ render_field(form.body, class="form-control", placeholder="Description") }}
                    {{ render_file_upload(form.references, class="upload-files-button", accept="image/*", multiple=True) }}
                    {{ form.submit(class="btn btn-lg btn-secondary") }}
                </form>
            </p>
            {% include "include/flash.html" %}
        </main>
        <footer class="mastfoot mt-auto">
            <div class="justify-content-center">
            </div>
        </footer>
    </div>
</body>
{% endblock %}
