{% extends "base.html" %}

{% block content %}
    {% include "include/navbar.html" %}
    <br>
    {% include "include/modalpicture.html" %}

    <div class="container-fluid">
        <div class="row">
            {% set cols = 3 %}
            {% for i in range(1, cols + 1) %}
            <div class="col-sm-{{ 12 // cols }} px-{{ 1 if cols > 6 else 2}}">
                {% for image in images %}
                    {% if loop.index %  cols == i % cols %}
                        {% include "include/imagecard.html" %}
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
